<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

</head>
<body>

<form action="{% url 'thanks_page' %}" method="post">
    <label>Имя:</label>
    <input name="name">
    <label>Телефон:</label>
    <input name="phone">
    {% csrf_token %}
    <button type="submit" >Отправить</button>
</form>

{% if object_list %}
<table>
    <tr>
        <th>ID</th>
        <th>DATE</th>
        <th>NAME</th>
        <th>TELEPHONE</th>
    </tr>
{% for obj in object_list %}
   <tr>
        <th>{{ obj.id }}</th>
        <th>{{ obj.order_dt }}</th>
        <th>{{ obj.order_name }}</th>
        <th>{{ obj.order_phone }}</th>
    </tr>
{% endfor %}
</table>
{% else %}
Ничего нет!
{% endif %}
</body>
</html>